In [42]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [43]:
data = pd.read_csv("final_forex_dataset.csv")

In [44]:
data.head()

,Year,Month,Export_Quantity_(Kg),Export_Price_(Rs.),High_Grown_Quantity_(Kg),Medium_Grown_Quantity_(Kg),Low_Grown_Quantity_(Kg),Avg_Exchange_Rate,FEE_(USD),High_Grown_Quantity_t-1,...,Medium_Grown_Quantity_t-2,Low_Grown_Quantity_t-2,Exported_Quantity_t-1,Export_Price_t-1,Exported_Quantity_t-2,Export_Price_t-2,Avg_Exchange_Rate_t-1,Avg_Exchange_Rate_t-2,Exported_to_Production_Ratio,Export_Price_Change
0,2012,3,27702254.0,536.71,6385525.09,4625138.9,17929328.00,200.0000,7.434038e+07,5538399.31,...,3652353.15,14348315.90,22448624.0,509.15,21824945.0,497.66,114.102042,113.942069,0.957231,0.054129
1,2012,4,23290994.0,540.91,7323011.00,5748401.2,16982493.50,200.0000,6.299166e+07,6385525.09,...,3955745.75,13133213.00,27702254.0,536.71,22448624.0,509.15,200.000000,114.102042,0.774974,0.007825
2,2012,5,30004885.0,567.32,8726319.70,5898297.1,18086627.25,200.0000,8.511186e+07,7323011.00,...,4625138.90,17929328.00,23290994.0,540.91,27702254.0,536.71,200.000000,200.000000,0.917265,0.048825
3,2012,6,22804265.0,553.03,5963710.45,3842289.7,16737376.00,130.3009,9.678707e+07,8726319.70,...,5748401.20,16982493.50,30004885.0,567.32,23290994.0,540.91,200.000000,200.000000,0.859132,-0.025189
4,2012,7,25761299.0,555.55,4064094.35,3429525.6,17506502.00,200.0000,7.155845e+07,5963710.45,...,5898297.10,18086627.25,22804265.0,553.03,30004885.0,567.32,130.300900,200.000000,1.030447,0.004557

In [45]:
# Step 1: Prepare the data
X = data.drop(columns=['FEE_(USD)'])  # Features
y = data['FEE_(USD)']  # Target variable

# Convert DataFrame to NumPy for ARIMA compatibility
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:
X_train.shape, X_test.shape

((93, 22), (24, 22))

In [47]:
def model_acc(model):
    model.fit(X_train, y_train)
    acc = model.score(X_test, y_test)
    print(str(model) + ' --> ' + str(acc))

In [56]:
lr = LinearRegression()
model_acc(lr)

rf = RandomForestRegressor()
model_acc(rf)

dt = DecisionTreeRegressor()
model_acc(dt)

LinearRegression() --> 0.9837737713991523
RandomForestRegressor() --> 0.631763235962516
DecisionTreeRegressor() --> 0.3678792473988496

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          117 non-null    int64
 1   Month                         117 non-null    int64
 2   Export_Quantity_(Kg)          117 non-null    float64
 3   Export_Price_(Rs.)            117 non-null    float64
 4   High_Grown_Quantity_(Kg)      117 non-null    float64
 5   Medium_Grown_Quantity_(Kg)    117 non-null    float64
 6   Low_Grown_Quantity_(Kg)       117 non-null    float64
 7   Avg_Exchange_Rate             117 non-null    float64
 8   FEE_(USD)                     117 non-null    float64
 9   High_Grown_Quantity_t-1       117 non-null    float64
 10  Medium_Grown_Quantity_t-1     117 non-null    float64
 11  Low_Grown_Quantity_t-1        117 non-null    float64
 12  High_Grown_Quantity_t-2       117 non-null    float64
 13  Medium_Grown_Quantity_t-2     117 non-null    float64
 14  Low_Grown_Quantity_t-2        117 non-null    float64
 15  Exported_Quantity_t-1         117 non-null    float64
 16  Export_Price_t-1              117 non-null    float64
 17  Exported_Quantity_t-2         117 non-null    float64
 18  Export_Price_t-2              117 non-null    float64
 19  Avg_Exchange_Rate_t-1         117 non-null    float64
 20  Avg_Exchange_Rate_t-2         117 non-null    float64
 21  Exported_to_Production_Ratio  117 non-null    float64
 22  Export_Price_Change           117 non-null    float64
dtypes: float64(21), int64(2)
memory usage: 21.2 KB