In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("combined_dataset.csv")

In [37]:
df.head()

,Year-Month,High_Grown_Production_(Kg),Mid_Grown_Production_(Kg),Low_Grown_Production_(Kg),National_Production_(Kg),FEE_(Million_USD)
0,2012-01,5361185.05,3652353.15,14348315.90,23361854.10,95.32
1,2012-02,5538399.31,3955745.75,13133213.00,22627358.06,100.17
2,2012-03,6385525.09,4625138.90,17929328.00,28939991.99,130.31
3,2012-04,7323011.00,5748401.20,16982493.50,30053905.70,110.41
4,2012-05,8726319.70,5898297.10,18086627.25,32711244.05,149.19

In [29]:
# Rename columns
df = df.rename(columns={"High_Grown_Quantity_(Kg)": "High_Grown_Production_(Kg)",
                       "Medium_Grown_Quantity_(Kg)": "Mid_Grown_Production_(Kg)",
                       "Low_Grown_Quantity_(Kg)": "Low_Grown_Production_(Kg)"})

In [30]:
# Drop FEE_(USD) column
df = df.drop(columns=["FEE_(USD)"])

In [31]:
# Calculate Foreign Exchange Earnings (USD)
df['FEE_(USD)'] = (df['Export_Quantity_(Kg)'] * df['Export_Price_(Rs.)']) / df['Avg_Exchange_Rate']

In [32]:
# Convert FEE to Millions (divide by 1e6)
df['FEE_(Million_USD)'] = (df['FEE_(USD)'] / 1e6).round(2)

In [33]:
# Calculate National Tea Production
df['National_Production_(Kg)'] = (df['High_Grown_Production_(Kg)'] + df['Mid_Grown_Production_(Kg)']) + df['Low_Grown_Production_(Kg)']

In [34]:
# Drop unnecessary columns
df = df.drop(columns=['Export_Quantity_(Kg)', 'Export_Price_(Rs.)', 'Avg_Exchange_Rate', 'FEE_(USD)'])

In [35]:
# Reorder columns
df = df[['Year-Month', 'High_Grown_Production_(Kg)', 'Mid_Grown_Production_(Kg)', 'Low_Grown_Production_(Kg)',
        'National_Production_(Kg)', 'FEE_(Million_USD)']]

In [36]:
# Save to a new dataset
df.to_csv('tea_forex.csv', index=False)