In [42]:
import pandas as pd

In [43]:
df = pd.read_csv("combined_dataset.csv")

In [44]:
df.head()

,Year-Month,Export_Quantity_(Kg),Export_Price_(Rs.),High_Grown_Quantity_(Kg),Medium_Grown_Quantity_(Kg),Low_Grown_Quantity_(Kg),Avg_Exchange_Rate,FEE_(USD)
0,2012-01,21824945.0,497.66,5361185.05,3652353.15,14348315.90,113.942069,9.532390e+07
1,2012-02,22448624.0,509.15,5538399.31,3955745.75,13133213.00,114.102042,1.001710e+08
2,2012-03,27702254.0,536.71,6385525.09,4625138.90,17929328.00,200.000000,7.434038e+07
3,2012-04,23290994.0,540.91,7323011.00,5748401.20,16982493.50,200.000000,6.299166e+07
4,2012-05,30004885.0,567.32,8726319.70,5898297.10,18086627.25,200.000000,8.511186e+07

In [45]:
df.isnull()

,Year-Month,Export_Quantity_(Kg),Export_Price_(Rs.),High_Grown_Quantity_(Kg),Medium_Grown_Quantity_(Kg),Low_Grown_Quantity_(Kg),Avg_Exchange_Rate,FEE_(USD)
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
139,False,False,False,False,False,False,False,False
140,False,False,False,False,False,False,False,False
141,False,False,False,False,False,False,False,False
142,False,False,False,False,False,False,False,False
143,False,False,False,False,False,False,False,False

In [46]:
df = df.rename(columns={"High_Grown_Quantity_(Kg)": "High_Grown_Production_(Kg)"})

In [47]:
df = df.rename(columns={"Medium_Grown_Quantity_(Kg)": "Mid_Grown_Production_(Kg)"})

In [48]:
df = df.rename(columns={"Low_Grown_Quantity_(Kg)": "Low_Grown_Production_(Kg)"})

In [49]:
high_grown_selection = df[["Year-Month", "High_Grown_Production_(Kg)"]]

In [50]:
high_grown_selection.to_csv("high_grown_production.csv", index=False)

In [51]:
mid_grown_selection = df[["Year-Month", "Mid_Grown_Production_(Kg)"]]

In [52]:
mid_grown_selection.to_csv("mid_grown_production.csv", index=False)

In [53]:
low_grown_selection = df[["Year-Month", "Low_Grown_Production_(Kg)"]]

In [54]:
low_grown_selection.to_csv("low_grown_production.csv", index=False)

In [55]:
df = df.rename(columns={"Avg_Exchange_Rate": "Avg_Exchange_Rate_(LKR)"})

In [56]:
export_selection = df[["Year-Month", "Export_Quantity_(Kg)", "Export_Price_(Rs.)", "Avg_Exchange_Rate_(LKR)"]]

In [57]:
export_selection.to_csv("tea_export_data.csv", index=False)