In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("combined_dataset.csv")

In [14]:
df.head()

,Year-Month,Export_Quantity_(Kg),Export_Price_(Rs.),High_Grown_Quantity_(Kg),Medium_Grown_Quantity_(Kg),Low_Grown_Quantity_(Kg),Avg_Exchange_Rate,FEE_(USD)
0,2012-01,21824945.0,497.66,5361185.05,3652353.15,14348315.90,113.942069,9.532390e+07
1,2012-02,22448624.0,509.15,5538399.31,3955745.75,13133213.00,114.102042,1.001710e+08
2,2012-03,27702254.0,536.71,6385525.09,4625138.90,17929328.00,200.000000,7.434038e+07
3,2012-04,23290994.0,540.91,7323011.00,5748401.20,16982493.50,200.000000,6.299166e+07
4,2012-05,30004885.0,567.32,8726319.70,5898297.10,18086627.25,200.000000,8.511186e+07

In [15]:
df = df.rename(columns={"High_Grown_Quantity_(Kg)": "High_Grown_Production_(Kg)"})
df = df.rename(columns={"Medium_Grown_Quantity_(Kg)": "Mid_Grown_Production_(Kg)"})
df = df.rename(columns={"Low_Grown_Quantity_(Kg)": "Low_Grown_Production_(Kg)"})
df = df.rename(columns={"Avg_Exchange_Rate": "Avg_Exchange_Rate_(LKR)"})

In [16]:
df = df.drop(columns=["FEE_(USD)"])

In [17]:
print(df.columns)

Index(['Year-Month', 'Export_Quantity_(Kg)', 'Export_Price_(Rs.)',
       'High_Grown_Production_(Kg)', 'Mid_Grown_Production_(Kg)',
       'Low_Grown_Production_(Kg)', 'Avg_Exchange_Rate_(LKR)'],
      dtype='object')

In [18]:
new_order = ['Year-Month', 'High_Grown_Production_(Kg)', 'Mid_Grown_Production_(Kg)', 'Low_Grown_Production_(Kg)', 
             'Export_Quantity_(Kg)', 'Export_Price_(Rs.)', 'Avg_Exchange_Rate_(LKR)']
df = df[new_order]

In [19]:
print(df.columns)

Index(['Year-Month', 'High_Grown_Production_(Kg)', 'Mid_Grown_Production_(Kg)',
       'Low_Grown_Production_(Kg)', 'Export_Quantity_(Kg)',
       'Export_Price_(Rs.)', 'Avg_Exchange_Rate_(LKR)'],
      dtype='object')

In [20]:
df.to_csv("tea_production_data.csv", index=False)