In [13]:
import pandas as pd

# Load preprocessed datasets
export_data = pd.read_csv("processed_tea_export_data.csv")
production_data = pd.read_csv("processed_tea_production_data.csv")
exchange_rate_data = pd.read_csv("processed_exchange_rate_data.csv")

In [14]:
# Merge datasets on 'Year-Month'
combined_data = pd.merge(export_data, production_data, on="Year-Month", how="inner")
combined_data = pd.merge(combined_data, exchange_rate_data, on="Year-Month", how="inner")

In [15]:
# Calculate FEE (Foreign Exchange Earnings)
combined_data['FEE_(USD)'] = (
    combined_data['Export_Quantity_(Kg)'] * combined_data['Export_Price_(Rs.)'] / combined_data['Avg_Exchange_Rate']
)

In [16]:
# Rearrange columns for clarity
combined_data = combined_data[[
    'Year-Month', 'Export_Quantity_(Kg)', 'Export_Price_(Rs.)', 
    'High_Grown_Quantity_(Kg)', 'Medium_Grown_Quantity_(Kg)', 'Low_Grown_Quantity_(Kg)', 
    'Avg_Exchange_Rate', 'FEE_(USD)'
]]

In [17]:
combined_data.to_csv("combined_dataset.csv", index=False)

In [18]:
combined_data.head(10)

,Year-Month,Export_Quantity_(Kg),Export_Price_(Rs.),High_Grown_Quantity_(Kg),Medium_Grown_Quantity_(Kg),Low_Grown_Quantity_(Kg),Avg_Exchange_Rate,FEE_(USD)
0,2012-01,21824945.0,497.66,5361185.05,3652353.15,14348315.90,113.942069,9.532390e+07
1,2012-02,22448624.0,509.15,5538399.31,3955745.75,13133213.00,114.102042,1.001710e+08
2,2012-03,27702254.0,536.71,6385525.09,4625138.90,17929328.00,200.000000,7.434038e+07
3,2012-04,23290994.0,540.91,7323011.00,5748401.20,16982493.50,200.000000,6.299166e+07
4,2012-05,30004885.0,567.32,8726319.70,5898297.10,18086627.25,200.000000,8.511186e+07
5,2012-06,22804265.0,553.03,5963710.45,3842289.70,16737376.00,130.300900,9.678707e+07
6,2012-07,25761299.0,555.55,4064094.35,3429525.60,17506502.00,200.000000,7.155845e+07
7,2012-08,21064283.0,561.75,5372381.95,4358458.00,16139942.00,200.000000,5.916430e+07
8,2012-09,30620887.0,570.06,4906061.70,3517426.01,19011266.10,132.233800,1.320067e+08
9,2012-10,24246574.0,576.88,5860294.50,4052676.95,17499597.00,128.578750,1.087844e+08